<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Course</th>
      <th>Miles</th>
      <th>Time</th>
      <th>Climb FT</th>
      <th>Effort</th>
      <th>Notes</th>
      <th>Pace</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1984-09-30</td>
      <td>Calderdale Half Marathon 1984</td>
      <td>13.100000</td>
      <td>1:41:23</td>
      <td>None</td>
      <td>None</td>
      <td>NaN</td>
      <td>00:07:44.351145</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1985-10-02</td>
      <td>Newbury</td>
      <td>13.100000</td>
      <td>1:45:18</td>
      <td>None</td>
      <td>None</td>
      <td>NaN</td>
      <td>00:08:02.290076</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1986-10-15</td>
      <td>Newbury</td>
      <td>13.100000</td>
      <td>1:55:00</td>
      <td>None</td>
      <td>None</td>
      <td>NaN</td>
      <td>00:08:46.717557</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1987-02-15</td>
      <td>Tromso, Norway</td>
      <td>13.100000</td>
      <td>2:00:00</td>
      <td>None</td>
      <td>None</td>
      <td>Estimate</td>
      <td>00:09:09.618320</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1987-10-15</td>
      <td>Newbury</td>
      <td>13.100000</td>
      <td>1:40:44</td>
      <td>None</td>
      <td>None</td>
      <td>NaN</td>
      <td>00:07:41.374045</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1990-10-07</td>
      <td>Great South Run - Southampton</td>
      <td>10.000000</td>
      <td>1:12:44</td>
      <td>None</td>
      <td>None</td>
      <td>NaN</td>
      <td>00:07:16.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2014-11-30</td>
      <td>Peco 1 Crossgates</td>
      <td>4.920000</td>
      <td>0:48:18</td>
      <td>None</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:09:49.024390</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2015-01-04</td>
      <td>Peco 3 West Park</td>
      <td>4.737500</td>
      <td>0:45:00</td>
      <td>None</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:09:29.920844</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2015-02-08</td>
      <td>Peco 4 Bodington Fields</td>
      <td>4.200000</td>
      <td>0:38:30</td>
      <td>None</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:09:10</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2015-03-01</td>
      <td>Peco 5 Roundhay</td>
      <td>4.200000</td>
      <td>0:40:30</td>
      <td>None</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:09:38.571428</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2015-04-05</td>
      <td>Guiseley Gallop 10K</td>
      <td>6.213710</td>
      <td>0:59:57</td>
      <td>None</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:09:38.881215</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2015-05-03</td>
      <td>Bluebell Trail</td>
      <td>11.000000</td>
      <td>1:58:07</td>
      <td>None</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:10:44.272727</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2015-05-13</td>
      <td>John Carr 5K Series 2 2015</td>
      <td>3.106855</td>
      <td>0:23:16</td>
      <td>None</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:07:29.328983</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2015-05-20</td>
      <td>John Carr 5K Series 3 2015</td>
      <td>3.106855</td>
      <td>0:23:01</td>
      <td>None</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:07:24.500950</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2015-05-26</td>
      <td>YVAA Kirkstall 2015</td>
      <td>5.903024</td>
      <td>0:50:53</td>
      <td>None</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:08:37.192500</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2015-05-28</td>
      <td>Apperley Bridge Canter 2015</td>
      <td>6.213710</td>
      <td>0:52:34</td>
      <td>522</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:08:27.587254</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2015-06-10</td>
      <td>Otley 10M 2015</td>
      <td>10.000000</td>
      <td>1:33:40</td>
      <td>744.751</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:09:22</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2015-06-23</td>
      <td>YVAA Alwoodley 2015</td>
      <td>4.500000</td>
      <td>0:43:01</td>
      <td>436.352</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:09:33.555555</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2015-07-01</td>
      <td>Helen Windsor 10K 2015</td>
      <td>6.213710</td>
      <td>0:59:32</td>
      <td>403.543</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:09:34.857854</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2015-08-16</td>
      <td>Arthur James Memorial Relay 2015</td>
      <td>2.860000</td>
      <td>0:23:26</td>
      <td>288.714</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:08:11.608391</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2015-09-27</td>
      <td>Kirkstall Abbey 7 Mile 2015</td>
      <td>6.580000</td>
      <td>0:54:39</td>
      <td>190.289</td>
      <td>94</td>
      <td>NaN</td>
      <td>00:08:18.328267</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2015-10-18</td>
      <td>Bridlington Half 2015</td>
      <td>13.100000</td>
      <td>1:51:58</td>
      <td>None</td>
      <td>None</td>
      <td>NaN</td>
      <td>00:08:32.824427</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2015-11-22</td>
      <td>Peco 1 Temple Newsam 2015</td>
      <td>4.600000</td>
      <td>0:39:50</td>
      <td>291.995</td>
      <td>98</td>
      <td>NaN</td>
      <td>00:08:39.565217</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2015-11-28</td>
      <td>Horton Park Parkrun 2015</td>
      <td>3.100000</td>
      <td>0:23:39</td>
      <td>311.68</td>
      <td>58</td>
      <td>NaN</td>
      <td>00:07:37.741935</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2015-12-13</td>
      <td>Peco 2 West Park 2015</td>
      <td>4.700000</td>
      <td>0:43:28</td>
      <td>272.31</td>
      <td>93</td>
      <td>NaN</td>
      <td>00:09:14.893617</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2016-01-03</td>
      <td>Peco Middleton Park 2016</td>
      <td>4.900000</td>
      <td>0:45:48</td>
      <td>508.53</td>
      <td>90</td>
      <td>NaN</td>
      <td>00:09:20.816326</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2016-01-24</td>
      <td>Peco Golden Acre Park 2016</td>
      <td>4.350000</td>
      <td>0:40:35</td>
      <td>396.982</td>
      <td>92</td>
      <td>NaN</td>
      <td>00:09:19.770114</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2016-02-14</td>
      <td>Peco Roundhay Park 2016</td>
      <td>4.760000</td>
      <td>0:45:13</td>
      <td>328.084</td>
      <td>116</td>
      <td>NaN</td>
      <td>00:09:29.957983</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2016-03-05</td>
      <td>Bradford Park Run</td>
      <td>3.106855</td>
      <td>0:24:39</td>
      <td>173.885</td>
      <td>61</td>
      <td>NaN</td>
      <td>00:07:56.044102</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2016-03-20</td>
      <td>Peco Relay Pendas Field</td>
      <td>3.100000</td>
      <td>0:28:16</td>
      <td>229.659</td>
      <td>62</td>
      <td>NaN</td>
      <td>00:09:07.096774</td>
    </tr>
    <tr>
      <th>30</th>
      <td>2016-04-17</td>
      <td>Overgate Hospice 10K 2016</td>
      <td>6.213710</td>
      <td>0:53:26</td>
      <td>636.483</td>
      <td>122</td>
      <td>NaN</td>
      <td>00:08:35.955846</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2016-05-11</td>
      <td>John Carr 5K Race 1 2016</td>
      <td>3.106855</td>
      <td>0:23:07</td>
      <td>91.8635</td>
      <td>67</td>
      <td>NaN</td>
      <td>00:07:26.432163</td>
    </tr>
    <tr>
      <th>32</th>
      <td>2016-05-15</td>
      <td>Calderdale Way Relay 2016 Leg 5</td>
      <td>7.550000</td>
      <td>2:23:55</td>
      <td>1059.71</td>
      <td>52</td>
      <td>Pacing</td>
      <td>00:19:03.708609</td>
    </tr>
    <tr>
      <th>33</th>
      <td>2016-05-21</td>
      <td>Horton Park Parkrun 2016</td>
      <td>3.106855</td>
      <td>0:24:24</td>
      <td>314.961</td>
      <td>45</td>
      <td>NaN</td>
      <td>00:07:51.216068</td>
    </tr>
    <tr>
      <th>34</th>
      <td>2016-05-24</td>
      <td>YVAA West Park 2016</td>
      <td>4.800000</td>
      <td>0:42:24</td>
      <td>196.85</td>
      <td>101</td>
      <td>NaN</td>
      <td>00:08:50</td>
    </tr>
    <tr>
      <th>35</th>
      <td>2016-05-31</td>
      <td>YVAA Kirkstall 2016</td>
      <td>5.800000</td>
      <td>0:49:09</td>
      <td>370.735</td>
      <td>125</td>
      <td>NaN</td>
      <td>00:08:28.448275</td>
    </tr>
    <tr>
      <th>36</th>
      <td>2016-06-02</td>
      <td>Apperley Bridge Canter 2016</td>
      <td>6.210000</td>
      <td>0:52:26</td>
      <td>534.777</td>
      <td>183</td>
      <td>NaN</td>
      <td>00:08:26.602254</td>
    </tr>
    <tr>
      <th>37</th>
      <td>2016-06-08</td>
      <td>Otley 10 Mile 2016</td>
      <td>10.000000</td>
      <td>1:31:55</td>
      <td>814</td>
      <td>231</td>
      <td>NaN</td>
      <td>00:09:11.500000</td>
    </tr>
    <tr>
      <th>38</th>
      <td>2016-06-28</td>
      <td>Arthur James Memorial Relay 2016</td>
      <td>2.860000</td>
      <td>0:22:50</td>
      <td>None</td>
      <td>None</td>
      <td>NaN</td>
      <td>00:07:59.020979</td>
    </tr>
    <tr>
      <th>39</th>
      <td>2016-08-10</td>
      <td>YVAA Halifax 2016</td>
      <td>6.000000</td>
      <td>0:48:00</td>
      <td>206.693</td>
      <td>116</td>
      <td>NaN</td>
      <td>00:08:00</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2016-08-14</td>
      <td>West Yorkshire 5 Mile 2016</td>
      <td>5.000000</td>
      <td>0:40:02</td>
      <td>396.982</td>
      <td>78</td>
      <td>NaN</td>
      <td>00:08:00.400000</td>
    </tr>
    <tr>
      <th>41</th>
      <td>2016-09-11</td>
      <td>Vale of York Half Marathon 2016</td>
      <td>13.100000</td>
      <td>1:53:26</td>
      <td>78.7402</td>
      <td>170</td>
      <td>NaN</td>
      <td>00:08:39.541984</td>
    </tr>
    <tr>
      <th>42</th>
      <td>2016-10-23</td>
      <td>Bramley 10K 2016</td>
      <td>6.213710</td>
      <td>0:49:46</td>
      <td>269.029</td>
      <td>116</td>
      <td>NaN</td>
      <td>00:08:00.550267</td>
    </tr>
    <tr>
      <th>43</th>
      <td>2016-11-06</td>
      <td>Leeds Abbey Dash 10K 2016</td>
      <td>6.213710</td>
      <td>0:47:27</td>
      <td>111.549</td>
      <td>115</td>
      <td>NaN</td>
      <td>00:07:38.180378</td>
    </tr>
    <tr>
      <th>44</th>
      <td>2016-11-19</td>
      <td>Horton Park Parkrun 2015</td>
      <td>3.110000</td>
      <td>0:23:44</td>
      <td>311.68</td>
      <td>64</td>
      <td>NaN</td>
      <td>00:07:37.877813</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2016-11-27</td>
      <td>Peco Temple Newsam 2016</td>
      <td>4.700000</td>
      <td>0:39:05</td>
      <td>285.433</td>
      <td>93</td>
      <td>NaN</td>
      <td>00:08:18.936170</td>
    </tr>
    <tr>
      <th>46</th>
      <td>2016-12-06</td>
      <td>Alcoy Half Marathon</td>
      <td>13.100000</td>
      <td>1:57:28</td>
      <td>830.052</td>
      <td>284</td>
      <td>NaN</td>
      <td>00:08:58.015267</td>
    </tr>
    <tr>
      <th>47</th>
      <td>2016-12-18</td>
      <td>Peco Middleton Park 2016</td>
      <td>4.650000</td>
      <td>0:41:48</td>
      <td>403.543</td>
      <td>120</td>
      <td>NaN</td>
      <td>00:08:59.354838</td>
    </tr>
    <tr>
      <th>48</th>
      <td>2017-01-08</td>
      <td>Temple Newsam 10 Mile 2017</td>
      <td>10.000000</td>
      <td>1:29:43</td>
      <td>492.126</td>
      <td>204</td>
      <td>NaN</td>
      <td>00:08:58.300000</td>
    </tr>
    <tr>
      <th>49</th>
      <td>2017-01-22</td>
      <td>Peco West Park 2017</td>
      <td>5.200000</td>
      <td>0:45:52</td>
      <td>200.131</td>
      <td>115</td>
      <td>NaN</td>
      <td>00:08:49.230769</td>
    </tr>
    <tr>
      <th>50</th>
      <td>2017-01-28</td>
      <td>Bradford Park Run 2017</td>
      <td>3.110000</td>
      <td>0:24:24</td>
      <td>173.885</td>
      <td>62</td>
      <td>NaN</td>
      <td>00:07:50.739549</td>
    </tr>
    <tr>
      <th>51</th>
      <td>2017-02-19</td>
      <td>Peco Pendas Field 2017</td>
      <td>5.000000</td>
      <td>0:48:10</td>
      <td>170.604</td>
      <td>122</td>
      <td>NaN</td>
      <td>00:09:38</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2017-02-26</td>
      <td>Bolton Abbey Half Marathon 2017</td>
      <td>13.100000</td>
      <td>2:08:03</td>
      <td>780.84</td>
      <td>255</td>
      <td>NaN</td>
      <td>00:09:46.488549</td>
    </tr>
    <tr>
      <th>53</th>
      <td>2017-03-05</td>
      <td>Peco Roundhay Park 2017</td>
      <td>4.620000</td>
      <td>0:42:29</td>
      <td>341.207</td>
      <td>95</td>
      <td>NaN</td>
      <td>00:09:11.731601</td>
    </tr>
    <tr>
      <th>54</th>
      <td>2017-05-03</td>
      <td>John Carr 5K Race 1 2017</td>
      <td>3.110000</td>
      <td>0:23:43</td>
      <td>108.268</td>
      <td>58</td>
      <td>NaN</td>
      <td>00:07:37.556270</td>
    </tr>
    <tr>
      <th>55</th>
      <td>2017-05-30</td>
      <td>YVAA Kirkstall 2017</td>
      <td>5.800000</td>
      <td>0:51:10</td>
      <td>374.016</td>
      <td>121</td>
      <td>NaN</td>
      <td>00:08:49.310344</td>
    </tr>
    <tr>
      <th>56</th>
      <td>2017-06-01</td>
      <td>Apperley Bridge Canter 2017</td>
      <td>6.210000</td>
      <td>0:53:53</td>
      <td>521.654</td>
      <td>116</td>
      <td>NaN</td>
      <td>00:08:40.611916</td>
    </tr>
    <tr>
      <th>57</th>
      <td>2017-06-07</td>
      <td>Otley 10 Mile 2017</td>
      <td>10.000000</td>
      <td>1:28:23</td>
      <td>725.066</td>
      <td>197</td>
      <td>NaN</td>
      <td>00:08:50.300000</td>
    </tr>
    <tr>
      <th>58</th>
      <td>2017-08-13</td>
      <td>West Yorkshire 5 Mile 2017</td>
      <td>5.000000</td>
      <td>0:45:48</td>
      <td>1174.54</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:09:09.600000</td>
    </tr>
    <tr>
      <th>59</th>
      <td>2017-10-08</td>
      <td>Yorkshire Marathon</td>
      <td>26.200000</td>
      <td>4:32:48</td>
      <td>423.228</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:10:24.732824</td>
    </tr>
    <tr>
      <th>60</th>
      <td>2018-02-03</td>
      <td>Bradford Parkrun</td>
      <td>3.100000</td>
      <td>0:31:15</td>
      <td>164.042</td>
      <td>0</td>
      <td>Pacing</td>
      <td>00:10:04.838709</td>
    </tr>
    <tr>
      <th>61</th>
      <td>2018-02-18</td>
      <td>Wombwell 5 Mile</td>
      <td>5.000000</td>
      <td>0:38:46</td>
      <td>193.57</td>
      <td>0</td>
      <td>6th in Category</td>
      <td>00:07:45.200000</td>
    </tr>
    <tr>
      <th>62</th>
      <td>2018-03-26</td>
      <td>Trunce</td>
      <td>3.800000</td>
      <td>0:42:53</td>
      <td>485.564</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:11:17.105263</td>
    </tr>
    <tr>
      <th>63</th>
      <td>2018-03-31</td>
      <td>Barnsley Parkrun</td>
      <td>3.106855</td>
      <td>0:36:07</td>
      <td>272.31</td>
      <td>0</td>
      <td>Pacing</td>
      <td>00:11:37.489905</td>
    </tr>
    <tr>
      <th>64</th>
      <td>2018-04-04</td>
      <td>Spencers Dash</td>
      <td>3.750000</td>
      <td>0:31:16</td>
      <td>301.837</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:08:20.266666</td>
    </tr>
    <tr>
      <th>65</th>
      <td>2018-04-14</td>
      <td>Barnsley Parkrun</td>
      <td>3.106855</td>
      <td>0:34:08</td>
      <td>291.995</td>
      <td>0</td>
      <td>Pacing</td>
      <td>00:10:59.187506</td>
    </tr>
    <tr>
      <th>66</th>
      <td>2018-04-18</td>
      <td>Trunce</td>
      <td>3.800000</td>
      <td>0:40:45</td>
      <td>475.722</td>
      <td>0</td>
      <td>NaN</td>
      <td>00:10:43.421052</td>
    </tr>
    <tr>
      <th>67</th>
      <td>2018-04-19</td>
      <td>Hartcliff Fell Race</td>
      <td>2.540000</td>
      <td>0:28:32</td>
      <td>None</td>
      <td>None</td>
      <td>NaN</td>
      <td>00:11:14.015748</td>
    </tr>
    <tr>
      <th>68</th>
      <td>2018-04-30</td>
      <td>Trunce</td>
      <td>3.800000</td>
      <td>0:38:47</td>
      <td>479.003</td>
      <td>0</td>
      <td>PB</td>
      <td>00:10:12.368421</td>
    </tr>
    <tr>
      <th>69</th>
      <td>2018-05-05</td>
      <td>Barnsley Parkrun</td>
      <td>3.106855</td>
      <td>0:24:55</td>
      <td>295.276</td>
      <td>43</td>
      <td>NaN</td>
      <td>00:08:01.194004</td>
    </tr>
    <tr>
      <th>70</th>
      <td>2018-05-21</td>
      <td>Trunce</td>
      <td>3.800000</td>
      <td>0:42:58</td>
      <td>538.058</td>
      <td>67</td>
      <td>NaN</td>
      <td>00:11:18.421052</td>
    </tr>
    <tr>
      <th>71</th>
      <td>2018-06-06</td>
      <td>Spencers Dash</td>
      <td>3.750000</td>
      <td>0:29:38</td>
      <td>317</td>
      <td>82</td>
      <td>NaN</td>
      <td>00:07:54.133333</td>
    </tr>
    <tr>
      <th>72</th>
      <td>2018-06-09</td>
      <td>Barnsley Boundary Leg 9</td>
      <td>10.400000</td>
      <td>1:43:26</td>
      <td>1017</td>
      <td>287</td>
      <td>NaN</td>
      <td>00:09:56.730769</td>
    </tr>
    <tr>
      <th>73</th>
      <td>2018-07-18</td>
      <td>Priory 10K</td>
      <td>6.213710</td>
      <td>0:51:11</td>
      <td>366</td>
      <td>117</td>
      <td>NaN</td>
      <td>00:08:14.229695</td>
    </tr>
    <tr>
      <th>74</th>
      <td>2018-07-23</td>
      <td>Trunce</td>
      <td>3.800000</td>
      <td>0:40:06</td>
      <td>553</td>
      <td>61</td>
      <td>NaN</td>
      <td>00:10:33.157894</td>
    </tr>
    <tr>
      <th>75</th>
      <td>2018-08-01</td>
      <td>Spencers Dash</td>
      <td>3.750000</td>
      <td>0:29:40</td>
      <td>318.241</td>
      <td>60</td>
      <td>NaN</td>
      <td>00:07:54.666666</td>
    </tr>
    <tr>
      <th>76</th>
      <td>2018-08-18</td>
      <td>Barnsley Parkrun</td>
      <td>3.106855</td>
      <td>0:45:18</td>
      <td>282</td>
      <td>8</td>
      <td>Pacing</td>
      <td>00:14:34.839669</td>
    </tr>
    <tr>
      <th>77</th>
      <td>2018-08-21</td>
      <td>Highwood Hobble</td>
      <td>3.106855</td>
      <td>0:25:51</td>
      <td>388</td>
      <td>57</td>
      <td>NaN</td>
      <td>00:08:19.218663</td>
    </tr>
    <tr>
      <th>78</th>
      <td>2018-08-21</td>
      <td>Highwood Hobble</td>
      <td>3.110000</td>
      <td>0:25:51</td>
      <td>388</td>
      <td>57</td>
      <td>NaN</td>
      <td>00:08:18.713826</td>
    </tr>
    <tr>
      <th>79</th>
      <td>2018-09-15</td>
      <td>Barnsley Parkrun</td>
      <td>3.100000</td>
      <td>0:24:42</td>
      <td>318</td>
      <td>59</td>
      <td>NaN</td>
      <td>00:07:58.064516</td>
    </tr>
    <tr>
      <th>80</th>
      <td>2018-10-13</td>
      <td>Barnsley Parkrun</td>
      <td>3.110000</td>
      <td>0:28:41</td>
      <td>331</td>
      <td>29</td>
      <td>Pacing</td>
      <td>00:09:13.376205</td>
    </tr>
    <tr>
      <th>81</th>
      <td>2018-11-11</td>
      <td>Furty Furlong</td>
      <td>3.750000</td>
      <td>0:32:42</td>
      <td>436</td>
      <td>64</td>
      <td>NaN</td>
      <td>00:08:43.200000</td>
    </tr>
    <tr>
      <th>82</th>
      <td>2018-11-25</td>
      <td>Barnsley 10K</td>
      <td>6.210000</td>
      <td>0:48:44</td>
      <td>290</td>
      <td>85</td>
      <td>NaN</td>
      <td>00:07:50.853462</td>
    </tr>
    <tr>
      <th>83</th>
      <td>2019-03-16</td>
      <td>Silkstone Shuffle</td>
      <td>4.600000</td>
      <td>0:42:34</td>
      <td>455</td>
      <td>81</td>
      <td>NaN</td>
      <td>00:09:15.217391</td>
    </tr>
  </tbody>
</table>